.flippingCard {
  width: 250px;
  height: 370px;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;

&__left {
    &__radial-gradient {
      background: linear-gradient(to right, blue, rgb(186, 179, 243));
      box-shadow: 0 0 30px rgb(27, 2, 253);
      width: 250px;
      height: 370px;
      z-index: 2;
      position: fixed;
      border-radius: 20px;
      opacity: 0.4;
    }
    &__background {
      z-index: 1;
      position: fixed;
      border-radius: 20px;
      max-width: 100%;
      width: 250px;
      height: 370px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;

    }
    &__fullName {
      position: fixed;
      z-index: 10;
      margin-top: 300px;
      margin-left: 20px;
      color: white;
      font-size: 1.3rem;
    }
    &__miniTitle {
      position: fixed;
      z-index: 10;
      margin-top: 325px;
      margin-left: 20px;
      color: white;
      font-size: 0.7rem;
    }
  }

  &__right {

    &__roundPicture {

    }
    &__fullName {
      
    }
    &__miniTitle {
      
    }
    &__description {
      
    }
    &__button {
      
    }
  }
}