.flippingCard {
  width: 250px;
  height: 370px;
  background-color: pink;
  border-radius: 20px;


  &__left {
    &__background {
      z-index: 1;
      position: fixed;
      border-radius: 20px;
      max-width: 100%;
      width: 250px;
      height: 370px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;

    }
    &__fullName {
      position: fixed;
      z-index: 10;
      margin-top: 300px;
      margin-left: 20px;
      color: white;
      font-size: 1.3rem;
    }
    &__miniTitle {
      position: fixed;
      z-index: 10;
      margin-top: 325px;
      margin-left: 20px;
      color: white;
      font-size: 0.77rem;
    }
  }

  &__right {
    &__roundPicture {

    }
    &__fullName {
      
    }
    &__miniTitle {
      
    }
    &__description {
      
    }
    &__button {
      
    }
  }
}